.page {
  padding: 28px 0 24px;
  margin: 0 auto;
  background-color: #2A2C2F;
  min-width: 320px;
  max-width: 1280px;
  color: white;
}

@media screen and (max-width: 568px) {
  .page {
    padding: 16px 0 24px;
}
}
