.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover:hover .cover__overlay{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.6s ease;
}
