.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  z-index: 1;
}

@media screen and (max-width: 568px) {
  .cover__title {
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }
}
